<?xml version="1.0" encoding="utf-8"?>
<odoo>

<!--    <delete model="ir.ui.menu" id="contacts.menu_contacts" />-->
<!--    <delete model="ir.ui.menu" id="contacts.res_partner_menu_contacts" />-->
<!--    <delete model="ir.ui.menu" id="contacts.res_partner_menu_config" />-->




<!--    <menuitem name="Contactos odoo"-->
<!--        id="contacts.menu_contacts"-->
<!--        sequence="4"-->
<!--        web_icon="contacts,static/description/icon.png"-->
<!--        groups="cabalcon_nazca.make_invisible"/>-->



    <menuitem name="Empresas"
        id="menu_company_nazca"
        sequence="2"
        web_icon="cabalcon_nazca,static/description/empresas.png"
        groups="base.group_user,base.group_partner_manager"/>

    <menuitem name="Contactos"
        id="menu_contacts_nazca"
        sequence="3"
        web_icon="cabalcon_nazca,static/description/contacto.png"
        groups="base.group_user,base.group_partner_manager"/>

<!--    <menuitem name="Dirección"-->
<!--        id="menu_locate_nazca"-->
<!--        sequence="4"-->
<!--        web_icon="cabalcon_nazca,static/description/locat.jpg"-->
<!--        groups="base.group_user,base.group_partner_manager"/>-->

    <menuitem id="kw_address.kw_address_menu_main"
              web_icon="kw_address,static/description/icon.png"
              name="Dirección" sequence="4"/>

    <menuitem name="Flota"
        id="menu_fleet_nazca"
        sequence="5"
        web_icon="cabalcon_nazca,static/description/fleet.png"
        groups="base.group_user,base.group_partner_manager"/>

    <menuitem name="Nave"
        id="menu_ship_nazca"
        sequence="6"
        web_icon="cabalcon_nazca,static/description/barco.jpg"
        groups="base.group_user,base.group_partner_manager"/>

    <menuitem name="Operacion"
        id="menu_operation_nazca"
        sequence="7"
        web_icon="cabalcon_nazca,static/description/locat.jpg"
        groups="base.group_user,base.group_partner_manager"/>

    <menuitem name="Docs. y Evidenc"
        id="menu_docs_nazca"
        sequence="8"
        web_icon="cabalcon_nazca,static/description/document.png"
        groups="base.group_user,base.group_partner_manager"/>

    <menuitem name="Booking"
        id="menu_booking_nazca"
        sequence="9"
        web_icon="cabalcon_nazca,static/description/locat.jpg"
        groups="base.group_user,base.group_partner_manager"/>

</odoo>